# Config file is in sh format
# Please modify for your environment
SSH_USER=root
GATEWAY_IP=192.168.0.200
SSH_IP=192.168.0.202
EHA=32:5d:e7:1c:d4:41
#EHA=32:ba:c4:78:a2:92 this is 1, above is 0
ERL_PATH=/opt/local/erlang/bin/erl
APP_DIR=${PWD##*/}
PA_DIRS="ebin ../serial_demo/ebin ../embedded_sim/ebin ../recorder/ebin"
BOOT_CMD="cd /home/$SSH_USER/$APP_DIR/lib/erlang_serial && $ERL_PATH -pa $PA_DIRS"

