#!/bin/bash
## ------------------------------------------------------------------------------
## Copyright 2011 Rickard Olsson, Reza Javaheri
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
## http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
## ------------------------------------------------------------------------------

## ------------------------------------------------------------------------------
## @author Rickard Olsson <rickard@ooodev.com>
## @author Reza Javaheri <reza@ooodev.com>
## @doc Ember is a build/deploy tool for EMBedded ERlang
## ------------------------------------------------------------------------------

# Config file is in sh format
# Please modify for your environment
SSH_USER=root
SSH_IP=192.168.0.202
ERL_PATH=/opt/local/erlang/bin/erl
APP_DIR=${PWD##*/}
APP_PATH="/home/$SSH_USER/$APP_DIR"
PA_DIRS="ebin ../serial_demo/ebin ../embedded_sim/ebin ../recorder/ebin"
BOOT_CMD="cd $APP_PATH/lib/erlang_serial && $ERL_PATH -pa $PA_DIRS"

# Log paths for recorder application
LOG_DIR="rec_logs"
LOG_PATH="$APP_PATH/$LOG_DIR"

# Used for automagic setup of network interfaces
# Doesnt work with usb network, since EHA changes
GATEWAY_IP=192.168.0.200
EHA=ea:8b:f2:19:5f:df
#EHA=32:5d:e7:1c:d4:41 EHA changes?
#EHA=32:ba:c4:78:a2:92
